<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="cordova-plugin-run-node"
      version="2.1.0">

  <name>run Node hooks</name>
  <description>run Node hooks, base on nodejs-mobile-cordova</description>
  <license>MIT</license>
  <keywords>cordova,mobile,nodejs,node.js,node</keywords>
  
  <dependency id="nodejs-mobile-cordova" version="^0.2.0" />
  <dependency id="cordova-plugin-file" version="^6.0.0" />

  <js-module src="www/runNode.js" name="runNode">
    <clobbers target="runNode" />
  </js-module>

  <!-- ios -->
  <platform name="ios">
    
    <hook type="after_prepare" src="install/hooks/after-prepare-file-ios.js" />
    <hook type="after_prepare" src="install/hooks/after-prepare-patch-npm-packages.js" />
    <hook type="after_prepare" src="install/hooks/after-prepare-native-modules-preference.js" />

  </platform>

  <!-- android -->
  <platform name="android">	
  
    <hook type="after_prepare" src="install/hooks/after-prepare-file-android.js" />
    <hook type="after_prepare" src="install/hooks/after-prepare-patch-npm-packages.js" />
    <hook type="after_prepare" src="install/hooks/after-prepare-native-modules-preference.js" />

  </platform>

</plugin>
